<!DOCTYPE html>
<html lang="vi">
<head>
	<title>Quản Trị Viên</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Dosis:300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="/vendors/colorbox/example3/colorbox.css">
	<link rel="stylesheet" href="/rs-plugin/css/settings.css">
	<link rel="stylesheet" href="/rs-plugin/css/responsive.css">
	<link rel="stylesheet" title="style" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/animate.css">
	<link rel="stylesheet" title="style" href="/stylesheets/huong-style.css">
</head>
<body>
	<head id="header">
		<div class="header-body">
			<div class="container beta-relative">
				<div class="pull-left">
					<a href="/" id="logo"><img src="/images/logo-shop.png" width="200px" alt=""></a>
				</div>
				<div class="clearfix"></div>
			</div> <!-- .container -->
		</div>
	</head> <!-- .header-body -->
	<div class="header-bottom" style="background-color: #0277b8;">
    <div class="container">
        <nav class="main-menu">
            <span>Chuyên Mục Dành Cho Quản Trị Viên</span>
            <div class="clearfix"></div>
        </nav>
    </div> <!-- .container -->
	</div> <!-- .header-bottom -->
	<div class="admin">
		<div class="space60">&nbsp;</div>
		<div class="container-fluid">
			<h3 align="center">Bảng Điều Khiển</h3>
		<div class="space60">&nbsp;</div>
			<div class="row">
				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-4">
					<a href="/admin/quanlytaikhoan">
						<div class="itemmanager">
							<button value = "Quản lý gian hàng" align="center">Quản lý gian hàng</button>
						</div>
					</a>
				</div>
				<div class="col-md-2">&nbsp;</div>
				<div class="col-md-4">
					<a href="/admin/quanlytaikhoan">
						<div class="itemmanager">
							<button value = "Quản lý tài khoản" align="center">Quản lý tài khoản</button>
						</div>
					</a>
				</div>
				<div class="col-md-1">&nbsp;</div>
			</div>
			<div class="space30">&nbsp;</div>
			<div class="row">
				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-4">
					<a href="/admin/quanlytaikhoan">
						<div class="itemmanager">
							<button value = "Quản lý đơn hàng" align="center">Quản lý đơn hàng</button>
						</div>
					</a>
				</div>
				<div class="col-md-2">&nbsp;</div>
				<div class="col-md-4">
					<a href="/admin/quanlytaikhoan">
						<div class="itemmanager">
							<button value = "Thống kê khách hàng" align="center">Thống kê khách hàng</button>
						</div>
					</a>
				</div>
				<div class="col-md-1">&nbsp;</div>
			</div>
			<div class="space30">&nbsp;</div>
			<div class="row">
				<div class="col-md-1">&nbsp;</div>
				<div class="col-md-4">
					<a href="/admin/quanlytaikhoan">
						<div class="itemmanager">
							<button value = "Thống kê bán hàng" align="right">Thống kê bán hàng</button>
						</div>
					</a>
				</div>
				<div class="col-md-2">&nbsp;</div>
				<div class="col-md-4">
					<a href="/admin/quanlytaikhoan">
						<div class="itemmanager">
						</div>
					</a>
				</div>
				<div class="col-md-1">&nbsp;</div>
			</div>
		</div>
	</div> <!-- #content -->
</body>
</html>
